@{ Layout = "~/Views/Shared/_LayoutMain.cshtml"; }
@{
    var tutors = (PagedList.Core.IPagedList<SharedModels.Aspnetuser>)ViewBag.tutors;
    var page = (int)ViewBag.page;
    }

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="~/Tutors" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search tutor" id="search_param" name="search_param" value="@ViewBag.search_param">
                    <div class="input-group-append">
                    <button class="btn btn-outline-danger btn-sm" onclick="document.getElementById('search_param').value=''" type="button">X</button>
                    <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12" id="clients">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in tutors)
                    {
        <tr>
            <td title="@item.MTutor.Firstname">@item.MTutor.Firstname</td>
            <td title="@item.MTutor.Surname">@item.MTutor.Surname</td>
            <td title="@item.Email">@item.Email</td>
            <td>
                <a href="~/Tutors/ViewTutorProfile/@item.Id" target="@item.Id" style="color:blue;">
                    View Profile
                </a>
               @if(item.MTutor.Active==1)
               {
                    <span>|</span>
                    <a href="~/Tutors/DisableTutor/@item.Id/@(page)" style="color:purple;">
                        Disable
                    </a>
                } else
               {
                   <span>|</span>
                    <a href="~/Tutors/EnableTutor/@item.Id/@(page)" style="color:green;">
                       Enable
                    </a>
               }
                    <span>|</span>
                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                    Delete
                </a>
            </td>
        </tr>}
                </tbody>
            </table>
            <pager class="pager-container" 
                   list="@tutors" 
                   options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersOnly" 
                   asp-action="Index" 
                   asp-controller="Tutors" />
        </div>
    </div>
</div>

<script>
    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Tutor?',
            buttons: {
                Yes: function () {
                    window.location = '@Url.Content("~/Tutors/DeleteTutor/")'+ id;
                },
                No: function () {
                },
            }
        });
    }
</script>