@{ Layout = "~/Views/Shared/_LayoutMain.cshtml"; }
@{
    var subjects = (PagedList.Core.IPagedList<AAL_ADMIN.Models.MSubject>)ViewBag.subjects; 
    }

<div class="container">
    <row>
        <div class="col-md-12">
            <a href="~/Subjects/CreateSubject/0" class="btn btn-primary btn-sm">create subject</a>
        </div>
        <br />
    </row>
    <div class="row">
        <div class="col-md-12" id="clients">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in subjects)
                    {
        <tr>
            <td title="@item.SubjectTitle">@item.SubjectTitle</td>
            <td>
                <a href="~/Subjects/CreateSubject/@item.Id" style="color:blue;">
                    Open
                </a>
                |
                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                    Delete
                </a>
            </td>
        </tr>}
                </tbody>
            </table>
            <pager class="pager-container" 
                   list="@subjects" 
                   options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersOnly" 
                   asp-action="Index" 
                   asp-controller="Tutors" />
        </div>
    </div>
</div>

<script>
    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Subject?',
            buttons: {
                Yes: function () {
                    window.location = '@Url.Content("~/Subjects/DeleteSubject/")'+ id;
                },
                No: function () {
                },
            }
        });
    }
</script>